* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100vh;
}

.header {
  margin-top: 20%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

input {
  margin-right: 15px;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 1.5px;
}

.lists {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

section {
  width: 45%;
  border-radius: 5%;
}

li {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
}


button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px;
  border: none;
  background: blueviolet;
  color: #fff;
}

section header {
  width: 50%;
  margin: 0 auto;
}
